.col-md-9.margen{
  margin:0;
  padding:0;
  border:0;
}
.layer{
  height:100%;
  position:absolute;
}
.layer.back{
  width:100%;
  top:0;
  left:0;
}
.layer.front.row{
  width:55%;
  top:0;
  left:0;
  background-color:rgba(255,255,255,0.8);
  margin:0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
}
.ban-red{background-color:#FFA800;}
.ban-blue{background-color:rgba(0,0,0,0.1);}
.ban-green{background-color:var(--green-cool);}
.ban-yellow{background-color:var(--yellow-design);}
.banderin .ban{
  width:100%;
  height:calc(100%/3);
  display:flex;
  justify-content: space-around;
  align-items:center;
}
.front .col-md-2.banderin{
  background-color:var(--blue-unam);
  margin:0;
  padding:0;
}
.front .margen{
  height:auto;
  padding:5%;
}
.front h2{
  font-family:"opensans bold";
  line-height:2.2rem;
  font-size:2.1rem;
}
.subtitle-intern{
  font-size:1.8rem;
}
.front p{
  text-align:justify;
  font-size:0.9rem;
}
.button-group{
  padding:5%;
  text-align: center;
  list-style: none;
}
.button-group li.row .col-sm-2{
  display:flex;
  align-items:center;
  justify-content:space-around;
}
.button-group li.row .col-sm-2 p{
  margin:0 auto;
}
.button-group li button.btn{
  font-size:1.2rem;
  font-weight:100;
  font-family:"opensans";
}
.logo{
  width:80px;
  height:80px;
}
.ondesktop-title{
  display:block;
}
.onmovile-title{
  display:none;
  padding:6%;
}
@media screen and (max-width: 767px){
  .layer.front.row{
    width:100%;
    height:130%;
    top:40vh;
  }
  .banderin{
    margin:4%;
  }
  .banderin .ban{
    width:calc(100%/3);
    height:auto;
    float:left;
    background:none;
    padding:5%;
  }
  .banderin .ban .logo-jhi{
    width:110px;
  }
  .onmovile-title{
    display:block;
  }
  .ondesktop-title{
    display:none;
  }
}