@mixin googleShadow{
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
}

@import '../home/menuMobil';
@import 'basics';
@import 'regist';