#footer{
    width:100%;
    // background-color:var(--blue-unam);
    background: #333333;
    padding:4% 5%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    color:#eee;
    border-bottom:5px solid #BB8800;
    font-family:'opensans';
    
    
    h4{
        font-family:'opensans bold';
        line-height:3.5rem;
        font-size:1.5rem;
    }

    nav ul li{
        list-style: none;
    }

    p, li{
        font-size:0.9rem;
    }

    .agr{
        width:33.33%;
    }

    .logo-agr{
        width:100px;
        height:100px;
    }
}