#options{
    display:block;
    width:100%;
    height:auto;
    min-height:60vh;
    padding:4% 3%;
    background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    .window{
        max-width:29%;
        // min-height:80%;
        border:0;
        // padding:1% 1.5%;

        // @include googleShadow();

        display:inline-block;

        @media screen and (max-width: 767px){
            display:block;
            max-width:100%;
            margin-top:4%;
        }
    }
    @media screen and (max-width: 767px){
        display:block;
        justify-content: none;
    }
}