#webapp{
    width:100%;
    height:150vh;

    // border-top:20px solid #666;

    aside{
        width:20%;
        height:100%;
        // background-image:linear-gradient(to right, #0882cf, #6dc756);
        background: #1488CC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        float:left;
        // display:flex;
        // justify-content: space-around;
        padding:3% 1%;
        color:#fff;

        table.table{
            width:100%;
            color:#fff;
            // background-color:rgba(20, 16, 16, 0.1);

            th{
                // background-color:#ddd;
            }
        
            tr, th{
                // display:block;
                border-spacing:0;
                border-top:0;
                border-collapse: unset;
            }

            tr:hover{
                border:0;
                background-color:#fff;
                cursor:pointer;
                color:#222;
            }
        }
    }

    .app{
        width:80%;
        height:100%;
        float:left;
        overflow-y: scroll;

        padding:5% 2%;

        .section-window{
            display: none;
            padding-bottom:10%;
            width:100%;
        }

        .btn-withe{
            background-color:#fff;
            color:#222;
            font-weight:bold;
            border-radius:50px;
            border:2px solid #222;
        }

        .window.col-md-5{
            border-bottom: 10px solid;
            border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
            border-image-slice: 1;
        }
    }

    #students{
        border:0;
        outline: none;
        border-radius:10px;
        overflow: hidden;
        max-height:40vh;
        thead{
            // background: #11998e;  /* fallback for old browsers */
            // background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
            // background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
            background: #FF0099;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
            color:#fff;
            font-family:"opensans";
        }
        tbody{
            color:#666;
            overflow-y: scroll;
            .table-striped tbody tr:nth-of-type(2n+1){
                background-color:rgba(0,0,0,0.01);
            }

        }
        font-size:0.9rem;
        @include googleShadow();
    }
}

#preview{
    // width:150px;
    // height:200px;
    width:50%;
    height:60%;

    img{
        width:100%;
        height:100%;
    }
}